:root {
	--tile-color: #c0c7c8;
	--tile-border-shadow: #87999f;
	--tile-border-light: white;
}

html * {
	box-sizing: border-box;
}

#game {
	display: grid;
	grid-auto-columns: 32px;
	grid-auto-rows: 32px;
}

body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.tile {
	width: 32px;
	height: 32px;
	background-position: center;
	background-color: var(--tile-color);
	border: 1px solid var(--tile-border-shadow);
	cursor: default;
}

.mine {
	background-image: url('./../assets/svgs/mine.svg');
}

.mine-detonated {
	background-image: url('./../assets/svgs/mine.svg');
	background-color: red;
}

.flag {
	background-image: url('./../assets/svgs/flag.svg');
}

.one {
	background-image: url('./../assets/svgs/one.svg');
}

.two {
	background-image: url('./../assets/svgs/two.svg');
}

.three {
	background-image: url('./../assets/svgs/three.svg');
}

.four {
	background-color: url('./../assets/svgs/four.svg');
}

.five {
	background-color: green;
}

.six {
	background-color: rgb(25, 22, 165);
}

.seven {
	background-color: rgb(62, 165, 22);
}

.eight {
	background-color: rgb(177, 3, 154);
}

.hidden {
	border: 3px solid var(--tile-border-shadow);
	border-left: 3px solid var(--tile-border-light);
	border-top: 3px solid var(--tile-border-light);
	cursor: pointer;
}
