:root {
	--tile-color: #c0c7c8;
	--background: #e7f0f1;
	--tile-border-shadow: #87999f;
	--tile-border-light: white;
}

html * {
	box-sizing: border-box;
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-weight: 300;
}

body {
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	max-height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	background-color: var(--tile-color);
	color: #1a1a1a;
}

#main {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

a {
	text-decoration: none;
	color: #1a1a1a;
}

.hiddenElement {
	visibility: hidden;
	position: absolute;
}

header {
	display: grid;
	width: 100%;
	height: 64px;
	align-items: center;
	justify-content: left;
	grid-template-areas: 'a a b b';
}

header p {
	padding: 0;
	margin: 0;
}

#mineLogo {
	width: 32px;
	height: 32px;
	margin: 16px;
	cursor: pointer;
	grid-area: a;
}

#mineLogo path#mine {
	fill: #1a1a1a;
	transform-origin: center;
	transition: fill 200ms ease-in-out;
}

#mineLogo:hover path#mine {
	fill: #ff0000;
}

#title {
	grid-area: b;
}

.dynamic {
	display: inline-block;
}

footer {
	height: 64px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

#settings {
	margin-top: 8px;
	display: grid;
	align-items: center;
	grid-template-columns: 32px 32px 32px 96px 64px 64px;
}

#by {
	padding: 0;
	margin: 0;
	text-align: center;
}

input {
	height: 32px;
	width: 32px;
	font-size: 16px;
	padding: 0;
	text-align: center;
	background-color: transparent;
	border: transparent;
}

select,
button {
	margin: 3px;
	padding: 2px 3px;
	fill: var(--tile-color);
	cursor: pointer;
}

#game {
	display: grid;
	grid-auto-columns: 32px;
	grid-auto-rows: 32px;
}

.tile {
	width: 32px;
	height: 32px;
	background-position: center;
	background-color: var(--tile-color);
	border: 1px solid var(--tile-border-shadow);
	cursor: default;
}

.mine {
	background-image: url('./../assets/svgs/mine.svg');
}

.mine-detonated {
	background-image: url('./../assets/svgs/mine.svg');
}

.detonated {
	background-color: red;
}

.hidden {
	border: 3px solid var(--tile-border-shadow);
	border-left: 3px solid var(--tile-border-light);
	border-top: 3px solid var(--tile-border-light);
	cursor: pointer;
}

.flag {
	background-image: url('./../assets/svgs/flag.svg');
	border: 3px solid var(--tile-border-shadow);
	border-left: 3px solid var(--tile-border-light);
	border-top: 3px solid var(--tile-border-light);
}

.incorrect {
	background-image: url('./../assets/svgs/flag_incorrect.svg');
}

.one {
	background-image: url('./../assets/svgs/one.svg');
}

.two {
	background-image: url('./../assets/svgs/two.svg');
}

.three {
	background-image: url('./../assets/svgs/three.svg');
}

.four {
	background-image: url('./../assets/svgs/four.svg');
}

.five {
	background-image: url('./../assets/svgs/five.svg');
}

.six {
	background-image: url('./../assets/svgs/six.svg');
}

.seven {
	background-image: url('./../assets/svgs/seven.svg');
}

.eight {
	background-image: url('./../assets/svgs/eight.svg');
}
